<section>
  <table mat-table class="mat-elevation-z2" [dataSource]="list" matSort aria-label="Lista de Clientes">
    <ng-container matColumnDef="firstNames">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Nombres">{{row.firstName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastNames">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Apellidos">{{row.lastName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthdate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Nacimiento</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Fecha de Nacimiento">{{row.birthdate}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</section>
