//@import './src/variables.scss';

:host {
  display: block;
}

.form-wrapper {
  background-size: cover;
  padding: 2rem 0;
  margin-top: 2rem;
}

.login-form {
  margin: 2rem auto;
  max-width: 30%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}

.logo {
  height: 129px;
  width: 190px;
  margin: 0 auto;
  object-fit: contain;
}
